@page "/product/edit/{ProductId:guid}"
@page "/product/create"

@inherits ProductDetailComponent

<EditForm Model="@ViewModel" OnValidSubmit="HandleValidSubmit">

    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="name">Nome</label>
        <InputText id="name" class="form-control" aria-describedby="nameHelp" placeholder="Inserire il nome del prodotto" @bind-Value="@ViewModel.Name"/>
        <ValidationMessage For="@(() => ViewModel.Name)" />  

    </div>

    <div class="form-group">
        <label for="description">Descritzione</label>
        <InputTextArea id="description" class="form-control" aria-describedby="descriptionHelp" placeholder="Inserire la descrizione del prodotto" @bind-Value="@ViewModel.Description" rows="5"/>
        <ValidationMessage For="@(() => ViewModel.Description)" />  
    </div>

    <div>
        <label for="description">Categoria</label>
        <InputSelect id="micro-category" class="form-control" aria-describedby="microCategoryHelp" placeholder="Selezionare la categoria del prodotto" @bind-Value="@ViewModel.MicroCategoryId">

            <option value="@string.Empty"> --- </option>

            @foreach (var micro in ViewModel.MicroCategories)
            {
                <option value="@micro.Id">@micro.Description</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => ViewModel.MicroCategoryId)" />  

    </div>

    <button type="submit" class="btn btn-outline-success w-25 float-right mt-2">Submit</button>
</EditForm>